div{
    background-color: rgb(211, 56, 133);
    margin: 10px;
}
span{
    font-weight: bold;
}
h1#principal{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(245, 136, 199);
    background-color: rgb(226, 24, 169);
    border: 2px solid rgb(228, 136, 220);
}
div.agrupamento{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(212, 17, 125);
    background-color: rgba(226, 120, 182, 0.616);
    border: 3px solid gray;
    margin: 20px;
    padding: 10px;
}
.exemplo1{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(185, 115, 162);
    border: 2px solid rgb(129, 9, 93);
    margin: 10px;
    padding: 10px;
    width: 80px;
    height: 30px;
}
.exemplo2{
    font-family:'Courier New', Courier, monospace;
    background-color:rgb(204, 8, 211);
    border: 2px solid rgb(163, 36, 85);
    margin: 10px;
    padding: 10px;
    width: 80px;
    height: 30px;
}
.personalizado{
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgba(182, 95, 156, 0.616);
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
}
.personalizado:hover{
    color: rgb(29,7,70);
    background-color: rgba(29,9,48,0.616);
    margin: 30px;
    padding: 20px;
}
.pseudo>span{
    display: none;
}
.pseudo:hover>span{
    display: block;
    background-color: dark;
}
h3::selection{
    color:rgb(18, 230, 88);
    background: yellow;
}
p::first-letter{
    color: green;
    font-size: xx-large;
}